{% extends 'chatroom/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Log In
{% endblock title %}
{% block content %}
  <div class="container">
    <form method="post">
      <legend class="border-bottom mb-4">Log In</legend>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Login</button>
      <small class="text-muted ml-2">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
      </small>
    </form>
    <p>
      Need An Account? <a href="{% url 'register' %}">Sign Up Now</a>
    </p>
  </div>
{% endblock content %}
