{% extends "chatroom/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <!-- Profile Picture -->
      <img class="rounded-circle account-img mr-3"
           src="{{ user.profile.profile_picture.url }}"
           alt="User Profile Image"
           height="100"
           width="100">
      <!-- User Info -->
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <!-- Bio Section -->
    <div class="bio-section mt-3">
      <!-- Added margin-top (mt-3) -->
      <h3>Bio</h3>
      <p>{{ user.profile.bio }}</p>
    </div>
    <!-- Update Profile Form -->
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Update Profile</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
    </div>
  {% endblock content %}
